body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* 白色背景 */
    color: #333; /* 文字顏色 */
}

.hidden {
    display: none;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.hamburger {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.content {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00FF00; /* 綠色背景 */
    color: #fff; /* 白色文字 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008000; /* 深綠色 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
